.popover-content-container {
  box-shadow: 0px 4px 40px rgba(5, 0, 57, 0.07);
  border-radius: 4px;
  background-color: #fff;
  z-index: 999999;
  box-sizing: border-box;
  display: flex;
  width: 360px;
}

@media (max-width: 500px) {
  .popover-content-container {
    width: 311px;
  }
}

@media (max-width: 767px) {
  .popover-content-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.popover-content {
  flex: 1;
}
