.onc-popover-content-container {
  box-shadow: 0px 4px 40px rgba(5, 0, 57, 0.07);
  border-radius: 4px;
  background-color: #fff;
  z-index: 999999;
  box-sizing: border-box;
  display: flex;
  width: 360px;
}

@media (max-width: 500px) {
  .onc-popover-content-container {
    width: 311px;
  }
}

@media (max-width: 767px) {
  .onc-popover-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .onc-popover-content-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .onc-popover-arrow {
    display: none;
  }
}

.onc-popover-content {
  flex: 1;
}

.onc-popover-arrow {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: -1;
}

.onc-popover-arrow::before {
  visibility: visible;
  transform: translateX(0px) rotate(45deg);
  transform-origin: center center 0px;
  content: "";
  transform: rotate(45deg);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: -1;
}

.onc-popover-content-container[data-popper-placement^="top"] > .onc-popover-arrow {
  bottom: -6px;
}

.onc-popover-content-container[data-popper-placement^="bottom"] > .onc-popover-arrow {
  top: -6px;
}
